.container-img-parallax{
    background-image: url("delivery.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
    padding: 150px 0px;
}
.container-portion .content{
    text-align: center;
    width: 100%;
    height: auto;
}
.container-portion .content .text1{
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    color: black;
    margin: 40px;
}